*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    box-shadow: 0 0 15px 5px lightgray;
    position: relative;
    z-index: 1;
}
h1{
    font-size: 40px;
}
.logo{
    margin-left: 280px;
    padding: 20px;
}

.logo span{
    color: #00a7eb;;
}

section{
    padding: 0 216px;
    margin: auto;
    background-color: #F7F7F7;
}

.add{
    font-size: 22px;
    padding: 20px 5px ;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.fa-circle-plus{
    color: #00A5EC;
    cursor: pointer;

}

.box{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.box-cols{
    width: 352px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 lightgray;
    background-color: white;

}
.box-cols:hover{
    box-shadow:  0 0 15px 0 gray;
    transition: all 0.5s linear;
}

.head{
    font-size: 20px;
    color: #00A5EC;
    padding: 25px;
}

.head a{
    text-decoration: none;
    color: #00A5EC;
}

.checklist{
    font-size: 18px;
    padding: 15px;
}

input{
    width: 25px;
    height: 25px;
    margin: 10px;
}

.checklist span{
    text-decoration: line-through;
    color: gray;
}

.check1{
    display: flex;
    align-items: center;
}

/* ************ INDEX 2 ******************** */

#header{
   background-color: #F7F7F7;

}

#parent{
    filter: brightness(0.3);
}

/* ******** POP BOX ******** */

.popbox{
    width: 400px;
    height: 210px;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
}

.pophead{
    display: flex;
    justify-content: space-between;
    padding: 18px 15px;
    font-size: 22px;
}

.text{
    color: #404040;
}

.cross{
    color: #858585;
}

.popmain{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.popmain > input{
    width: 100%;
    margin-left: -3px;
    padding: 10px 10px;
    border-color: #EDEDED;
    border-radius: 3px;
}

.popmain button{
    padding: 10px 30px;
    background-color: #00A5EC;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    /* margin-top: 20px; */
    /* float: right; */
    align-self: flex-end;
}

/* ******************** INDEX 3 **************** */

.main3{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
    row-gap: 50px;

}

.top{
    display: flex;
    width: 500px;
    justify-content: space-between;
    gap: 20px;
}

.topbutton{
    font-size: 22px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-circle-arrow-left{
    color: black;
}

.box-3{
    width: 500px;
}
.box-3 > .head{
    text-align: center;
    font-size: 24px;
}

.box-3 > .checklist {
    font-size: 20px;
}


.checkmargin{
    margin-right: 40px;
}

/* ******************* INDEX 4 *************** */

#header-4{
    background-color: #F7F7F7;
 
 }
 
 #secondparent{
    filter: brightness(0.3);
 }

 .newpop{
    width: 500px;
    height: 230px;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 0);
 }

.inputfamous > input{
    padding: 20px 15px;
    font-size: 16px;
}



/* ************** MEDIA QUERY ***************** */

@media only screen and (max-width: 600px){
    
    /* ***** INDEX 1 ****** */
    .logo{
        margin-left: 0;
        /* text-align: center; */
    }
    section{
        padding: 0;
    }
    .box{
        justify-content: center;
    }
    .add > span{
        display: none;
    }
    .add {
        justify-content: center;
    }

    /* ********* INDEX 2 ******** */
    .popbox{
        width: 80%;
    }

    /* ********* INDEX 3 ******** */
    .top, .box-3{
        width: 90%;
    }

    .topbutton > span{
        display: none;
    }

    .top{
        position: relative;
    }
    .upbutton{
        position: absolute;
    }
    .lowbutton{
        margin: auto;
    }
    
}